
<div class="eventContainerDiv">
	<header class="menuHeader">
	<div class="overlay"></div>
		<h1>Events &amp; Activities </h1>
	</header>
<!-- 	<embed src="https://drive.google.com/viewerng/viewer?embedded=true&url=http://files.constantcontact.com/0774347d301/fce41f18-f119-4647-8959-32e0d5df84f8.pdf?ver=1524063673000" class="pdf"> -->
	<h4><a href="https://drive.google.com/viewerng/viewer?embedded=true&url=http://files.constantcontact.com/0774347d301/fce41f18-f119-4647-8959-32e0d5df84f8.pdf?ver=1524063673000"" target="_blank">Click HERE to view our monthly Newscoop!</a></h4>
	<!-- <header class="eventsHeader">
	<h1>events</h1>
</header> -->
	<div class="row">
    <div class="col-xs-12 col-md-8 showeventContainer">
    	<h1>Most Recent event:</h1>
			<!-- <h2><%= @events.last.title %></h2> -->
				<div><%= image_tag @events.last.image.url %></div>				
		</div>
		<div class="col-xs-12 col-md-3 eventsContainer">
			<h1>All events</h1>
			<% @events.each do |event| %>
				<div class="eventContainer">
					<a href="/events/<%= event.id %>">
						<div><%= image_tag event.image.url(:thumb), :class => "eventImage"  %></div>
						<p>
							<%= event.title %>
							<br>
						</p>
					</a>
				</div>
			<% end %>
		</div>
	</div>
</div>


			